*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.wrapper{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  color: blue;
  font-weight: bold;
  font-size: 56px;
}

span{
  font-size: 100px;
  padding: 10px;
  color: grey;
}

.btn{
  background: rgb(172, 184, 185);
  outline: none;
  border: 1px solid black;
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  color: black;
  cursor: pointer;
}